.logo-readium {
  background-color:#002f6a;
}

.header.post-header{
  text-align: 'center';
}

.post-header {
  .post-title {
    text-align: center;
  }
}


.teaserimage .teaserimage-image {
    background-position-y: -320px;
}

main-quote {
  text-align:center;
  font-style:italic;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  margin: 0;
  padding-bottom: 30px;
  color: #333; 
  display:block;
}

